.App {
  text-align: center;
  background-image: url(https://us.123rf.com/450wm/yamabikay/yamabikay1706/yamabikay170600015/79675835-green-felt-fabric-for-background-seamless-square-texture-tile-ready-high-resolution-photo-.jpg?ver=6);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://us.123rf.com/450wm/yamabikay/yamabikay1706/yamabikay170600015/79675835-green-felt-fabric-for-background-seamless-square-texture-tile-ready-high-resolution-photo-.jpg?ver=6");
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: red;
}

#burnpile,
#deck,
#bet,
#playerBank,
#hitstand {
  display: flex;
  justify-content: center;
  color: white;
}

#rules,
#status {
  display: grid;
  justify-content: center;
  color: white;
}

h1, h3, p {
  margin-bottom: 0px;
  margin-top: 0px;
}

div {
  margin-bottom: 0px;
}

#dealerhandvalue,
#playerhandvalue {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

#pcard,
#dcard {
  display: inline-flex;
  justify-content: flex-start;
}

#player-cards,
#dealer-cards {
  display: flex;
  justify-content: center;
}

#bet {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white;
}

.card {
  margin: 5px 5px 5px 5px;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn-md {
  margin: 5px 5px 5px 5px;
  color: goldenrod;
  background-color: blue;
  font-weight: bold;
  border: 2px solid goldenrod;
}
